---
version: 2.1

orbs:
  terraform: feedyard/terraform@dev:latest

jobs:
  write:
    executor: circleci-infra-agent
    steps:
      - run:
          name: output backend.conf
          command: cat backend.conf

workflows:
  version: 2

  bootstrap-aws-profiles-iam-only-deploy:
    jobs:
      - terraform/plan:
          account: profile
          env: profile
      - write